.card {
  border: solid black 1px;
  margin: 15px;
  padding: 20px;
  background: white;
  border-radius: 1rem;
}

.name:first-letter {
  text-transform: uppercase;
}

.card:hover {
  transform: scale(1.2, 1.1);
}
